* {
  font-family: Outfit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6e2f0;
}

.container {
  width: 350px;
  height: 520px;
  background-color: white;
  border-radius: 25px;
  margin-top: 84px;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  text-align: center;
}

.qr-code-image {
  width: 100%;
  padding: 16px;
  border-radius: 25px;
}

h2 {
  text-align: center;
  padding-right: 18px;
  padding-left: 18px;
  color: #1f3251;
}

p {
  font-size: 15px;
  text-align: center;
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 16px;
  color: #68778d;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}



/* 

MEDIA QUERIES

*/


@media screen and (max-width: 480px) {
  .container {
    margin-top: 32px;
    width: 90%;
  }
}



